
html, body{
    background-color: rgb(240,242,245);
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}
.wrapper {
    height: 100%;
    margin: 0 20px;
}

nav {
    background-color: rgb(38,47,53);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65px;
    text-align: center;
    top: 0;
    border-bottom: 1px solid rgb(48,51,98);
    overflow: hidden;
}

.logo {
    font-family: 'Simonetta', cursive;
    text-decoration: none;
    font-size: 30px
}
ul {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    
}
li {
    font-size: 18px;
    list-style-type: none;
    display: block;
    list-style-type: none;
    margin: 0px 20px;
}
a {
    text-decoration: none;
    color: rgb(255,209,6);
}
main {
    height: calc(100% - 96px);
}
.main-content {
    color: rgb(38,47,53);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 10px);
    margin-bottom: 20px; 
    margin-top: 10px;
    padding: 10px 20px;
    border-top: 1px solid rgb(38,47,53);;
    border-left: 1px solid rgb(38,47,53);;
    overflow: auto;
}
.name {
    color: rgb(38,47,53);
    display: none;
}
h1 {
    margin: 0;
    font-size: 25px;
    font-weight: lighter;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 30px 0;
}
i {
    color: rgb(38,47,53);
    font-size: 20px;
    margin: 0 9px;
}
.technologies>i {
    display: block;
}
.main-content>.skills>span>.fab {
    color: rgb(38,47,53);
}
.html, .css, .js {
    display: inline;
    color: rgb(255,209,6);
    font-size: 23px;
    font-weight: bolder;
}
span {
    display: block;
    margin-top: 20px;
}
.about-paragraph {
    margin: 10px 0;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 0;
}
.fa-linkedin {
    border-radius: 10%;
}
.fa-github {
    border-radius: 100%;
}
.contact-me>a>i {
    color: (38,47,53);
    font-size: 30px;
}
.contact-me>a>i:hover{
    color: rgb(255,209,6);
    background-color: rgb(38,47,53);
}
.project-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(38,47,53);
    border-bottom: none;
}
.project-description {
    padding-left: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(38,47,53);
    width: 100%;
}
.project-description>a>button:hover {
    color: rgb(240,242,245);
}
.project-description>a>button {
    color: rgb(255,209,6);
    background-color: rgb(38,47,53);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 20px;
    border-radius: 3%;
    border: none;
    padding: 12px;
}
.project-description>h2 {
    font-family: 'Simonetta', cursive;
}




.hidden {
    display: none;
}
.navbar {
    height: 100px;
}
.adjust-height {
    height: calc(100% - 121px);
}


/* tablet size */

@media only screen and (min-width: 600px) {
    .logo {
        display: block;
    }
    .name {
     display: none;
    }
    .navbar {
        height: 65px;
    }
    li.hidden {
        display: block;
    }
    .tristan>a {
        display: none;
    }
    .navbar-toggle {
        display: none;
    }
   
    .main-content {
        border-top: 1px solid rgb(38,47,53);;
        border-left: 1px solid rgb(38,47,53);;
        margin-top: 10px;
        height: calc(100% - 40px);
        padding: 10px 20px;
    }
    p {
        font-size: 20px;
    }
    .technologies>i {
        display: inline;
    }
}

/* desktop size */

@media only screen and (min-width: 900px) {
    .logo {
        font-family: 'Simonetta', cursive;
        text-transform: lowercase;
        font-size: 28px;
        display: block;
    }
    header {
        height: 10%;
    }
    footer {
        height: 10%;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        height: 80%;
        margin: 0;
    }
    section {
        height: 80%;
        margin: 0;
    }
    nav {
        display: flex;
        justify-content: center;
        border-right: 1px solid rgb(38,47,53);;
        border-bottom: none;
        width: 25%;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .navbar {
        height: 100%;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    li {
        font-size: 25px;
        margin: 1em 0;
    }
    .tristan>a{
        display: block;
    }
    .navbar-toggle {
        display: none;
    }
    main {
        width: 75%;
        height: 100%;
    }
    .main-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        width: calc(100% - 40px);
        height: 100%;
        padding: 0 40px;
        border-left: 1px solid rgb(38,47,53);;
        border-top: 1px solid rgb(38,47,53);;
        margin-left: 20px; 
        margin-right: 20px;
    }
    .name {
        font-family: 'Simonetta', cursive;
        display: block;
        padding-left: 20px;
        font-size: 40px;
    }
    .hidden {
        display: none;
    }
    .adjust-height {
        height: 100%;
    }
}

