@font-face {
    font-family:Adequate;
    src: url(Adequate-ExtraLight.ttf);
  }

html, body{
    background-color: rgb(240,242,245);
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}
.wrapper {
    height: 100%;
    margin: 0 20px;
}

nav {
    background-color: rgb(38,47,53);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 65px;
    text-align: center;
    top: 0;
    border-bottom: 1px solid rgb(48,51,98);
}
.logo {
    font-family:Adequate;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px
}
ul {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    
}
li {
    list-style-type: none;
    display: block;
    list-style-type: none;
    margin: 0px 20px;
}
a {
    text-decoration: none;
    color: rgb(255,209,6);
}
.navbar-toggle {
    border: none;
    color: rgb(255,209,6);
    background-color: rgb(38,47,53);
    font-size: 25px;
    cursor: pointer;
}
main {
    height: calc(100% - 96px);
}
.main-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 10px);
    margin-bottom: 20px; 
    margin-top: 10px;
    overflow: auto;
}
.name {
    display: none;
}

p {
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    margin: 30px 0;
}
i {
    font-size: 20px;
    margin: 0 9px;
}
span {
    display: block;
    margin-top: 20px;
}
.about-paragraph {
    margin: 10px 0;
}
h3 {
    font-family: 'Quattrocento', serif;
    font-weight: lighter;
    font-size: 30px;
}
.contact-me > i {
    font-size: 40px;
}
.project-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
}
.project-description {
    padding-left: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
}
.project-description>a>button {
    color: rgb(240,242,245);
    background-color: rgb(48,51,98);
    font-family: 'Quattrocento', serif;
    text-decoration: none;
    font-size: 20px;
    border-radius: 2%;
    border: none;
}



.hidden {
    display: none;
}
.navbar {
    height: 100px;
}
.adjust-height {
    height: calc(100% - 121px);
}


/* tablet size */

@media only screen and (min-width: 600px) {
    .logo {
        display: block;
    }
    .name {
     display: none;
    }
    .navbar {
        height: 65px;
    }
    li.hidden {
        display: block;
    }
    .tristan>a {
        display: none;
    }
    .navbar-toggle {
        display: none;
    }
   
    .main-content {
        border-top: 1px solid black;
        border-left: 1px solid black;
        margin-top: 10px;
        height: calc(100% - 40px);
        padding: 10px 20px;
    }
    p {
        font-size: 20px;
    }
}

/* desktop size */

@media only screen and (min-width: 900px) {
    .logo {
        display: none;
    }
    header {
        height: 10%;
    }
    footer {
        height: 10%;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        height: 80%;
        margin: 0;
    }
    section {
        height: 80%;
        margin: 0;
    }
    nav {
        display: flex;
        justify-content: center;
        border-right: 1px solid black;
        border-bottom: none;
        width: 25%;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .navbar {
        height: 100%;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    li {
        margin: 1em 0;
    }
    .tristan>a{
        display: block;
    }
    .navbar-toggle {
        display: none;
    }
    main {
        width: 75%;
        height: 100%;
    }
    .main-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        width: calc(100% - 40px);
        height: 100%;
        padding: 0 40px;
        border-left: 1px solid black;
        border-top: 1px solid black;
        margin-left: 20px; 
        margin-right: 20px;
    }
    .name {
        font-family:Adequate;
        font-weight: bold;
        display: block;
        padding-left: 20px;
        font-size: 30px;
    }
    .hidden {
        display: none;
    }
    .adjust-height {
        height: 100%;
    }
}

